<!DOCTYPE html>
<html lang ="eng">
    <head>
        <meta charset ="utf-8">
        <title>Expandable Sidebar Menu</title>
        <link rel="stylesheet" href="userMyStocks.css">
        <style>
            
            h1 {
                font-size: 5em;
            }
            h2{
                font-size: 2.5em;
            }
            #stocks .stock-table{
                flex-direction: column;
                text-align: center;
                padding: 100px 0;
                
                max-width: 70%;
            }
            .stocks-table{
                border-collapse: collapse; /*reduce space between cells*/
                font-size: 1.5em;
                padding-left: auto;
                margin-left:auto; 
                margin-right:auto;
                text-align: center;
            }
            
            .tables{
                padding-left: auto;
            }
            .stocks-table thead tr {
                text-align: left;
                background-color: lightskyblue;
                color: whitesmoke;
            }   
            .stocks-table th, .stocks-table td{
                padding: 3% 2%;
            }
            .stocks-table tbody tr {
                border-bottom: 1px solid rgb(163, 163, 163);
            }
            .stocks-table tbody tr:hover{
                box-shadow: 0px 0px 4px 0 lightskyblue;   /*box shadow when overing over*/ 
            }
            
        </style>
        <link rel ="stylesheet" href="../topNav.css">
    </head>
    <body>
        <!--Header Section: has the menu to navigate through the page-->
        <section id="menu">
            <div class="menu container">
                <div class="nav-bar"> 
                    <div class="company"> <!--Company class will help style text like a nice title-->
                        <a href="#myStocks"><h1>Stock-Aholics</h1></a> <!-- The span colors one letter different--> 
                    </div>
                    <div class="nav-list">
                        <div class="press"> <!--botton to press when on phone will open menu-->
                            <div class="bar"> <!--line that makes button look better-->
                            </div>
                        </div>
                        <ul>
                            <!--all the places to navigate to-->
                            <li><a href = "../userHome">My Profile</a></li> 
                            <li><a href = "#myStocks">My Stocks</a></li>
                            <!--<li><a href = "..#aboutUs">About Us</a></li>
                            <li><a href = "..#contact">Contact</a></li>-->
                            <li><form action="/logout?_logout=DELETE" method ="POST">
                                <button type="logout"><a>sign Out</a></button>
                            </form></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <nav class="profileMenu">
            <div class="options">Hi <%= name %></div>
            <ul>
                <li><a href="../userHome">My Profile</a></li>
                <li><a href="./userMyStocks">My Portfolio</a></li>
                <li><a href="./userMyOrder">My Orders</a></li>
                <li><a href="./userMyWatchlist">My Watchlist</a></li>
                <li><a href="./userMyResearch">Stock Research</li>
                <li><a href="./userMyTrades">Trade</a></li>
                <li><a href="./userMyHistory">View Account History</a></li>
                <li><a href="./userMySubs">View Event Subscription</a></li>
                <li><a href="./stockHistory">Stock history</a></li>
                <li><a href="./userMyMoney">Edit Money in Account</a></li>
            </ul>
        </nav>
        

        <!--My Profile Section-->
        <section id="myStocks">
            <div class="myStocks container">
                <div class="myStocks-top">
                    !--<h1 class="section-title">My <span> Stocks</span></h1>
                </div>
                <div class="myStock-Info">
                    <!--splits area into section each having its own icon and area-->
                    <div class="icon">
                        <h2>My Portfolio: (Value: $<%= totalValue %>)</h2>
                        <div class="tables">
                        <table class="stocks-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Company</th>
                                    <th>Current Price</th>
                                    <th>Low Price</th>
                                    <th>High Price</th>
                                    <th>Purchase Price</th>
                                </tr>
                            </thead>
                            <% for(var i=0; i<myStocks.length; i++) {%>
                                <!-- <p>Stocks Owned: <%=myStocks[i].name%>, Value: $<%=myStocks[i].curPrice%></p> -->
                                <tbody id = "parent">
                                    <tr id="0" data-href="./userMyTrades" >
                                        <th><%-myStocks[i].symbol%></th>
                                        <th><%-myStocks[i].name%></th>
                                        <th><%-myStocks[i].curPrice%></th>
                                        <th><%-myStocks[i].low%></th>
                                        <th><%-myStocks[i].high%></th>
                                        <th><%-myStocks[i].priceBought%></th>
                                    </tr>
                                </tbody>
                            <%}%>
                      </table>
                    </div>
                        
                        <!--<% var occurrences = {}; %>

                        <% for(var i=0; i<myStocks.length; i++) {%>
                            <% var stock = myStocks[i]; %>
                            <% occurrences[stock] = occurrences[stock] ? occurrences[stock] + 1:1; %>
                        <%}%>
                        
                        <% for(var i=0; i<myStocks.length; i++) {%>
                            <% if(occurrences[myStocks[i]]>=0){ %>
                                <p>Stocks Owned:  <%=myStocks[i].name%>, Individual Value: $<%=myStocks[i].curPrice%>, Units: <%= occurrences[myStocks[i]]%></p>
                                <%break%>
                            <%}%>
                        <%}%>-->

                    </div>  
                </div>
            </div>
        </section>

        <script>
            const press = document.querySelector('.menu .nav-bar .nav-list .press'); //tells js where to get 
            const mobileMenu = document.querySelector('.menu .nav-bar .nav-list ul');
            const menuContent = document.querySelectorAll('.menu .nav-bar .nav-list ul li a'); //here multiple things so use All
            
            press.addEventListener('click', () => {//when item is clicked
                mobileMenu.classList.toggle('active');//adds class active
            });
            
            menuContent.forEach((item)=> {//because multiple line use forEach
                item.addEventListener('click', () => {
                    mobileMenu.classList.toggle('active');
                });
            });
        </script>
    </body>
</html>

