<!DOCTYPE html>
<html lang ="eng">
    <head>
        <meta charset ="utf-8">
        <title>Rest Api</title>
        <style>
            .stocks-table{
                border-collapse: collapse; /*reduce space between cells*/
                margin: 20 5;
                font-size: 1.5em;
                padding-left: auto;
                margin-left:auto; 
                margin-right:auto;
                text-align: center;
            }
            
            .tables{
                padding-left: auto;
            }
            .stocks-table thead tr {
                text-align: left;
                background-color: lightskyblue;
                color: whitesmoke;
            }
            .stocks-table th, .stocks-table td{
                padding: 20px 15px;
            }
            .stocks-table tbody tr {
                border-bottom: 1px solid rgb(163, 163, 163);
            }
            .stocks-table tbody tr:hover{
                box-shadow: 0px 0px 4px 0 lightskyblue;   /*box shadow when overing over*/ 
            }
        </style>
    </head>
    <body>
        <div class="tables">
            <table class="stocks-table">
                <% if (l>1){%>
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Company</th>
                            <th>Current Price</th>
                            <th>Low Price</th>
                            <th>High Price</th>
                            <th>Daily Trades</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i<l; i++) {%>
                        <tbody id = "parent">
                            <tr id="0" data-href="./userMyTrades" >
                                <th><%-stocks[i].symbol%></th>
                                <th><%-stocks[i].name%></th>
                                <th><%-stocks[i].curPrice%></th>
                                <th><%-stocks[i].low%></th>
                                <th><%-stocks[i].high%></th>
                                <th><%-stocks[i].dailyTrades%></th>
                            </tr>
                        </tbody>
                    <%}%>
                <%}%>
                <% if (l==1){%>
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Company</th>
                            <th>Current Price</th>
                            <th>Low Price</th>
                            <th>High Price</th>
                            <th>Daily Trades</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i<l; i++) {%>
                        <tbody id = "parent">
                            <tr id="0" data-href="./userMyTrades" >
                                <th><%-stocks.symbol%></th>
                                <th><%-stocks.name%></th>
                                <th><%-stocks.curPrice%></th>
                                <th><%-stocks.low%></th>
                                <th><%-stocks.high%></th>
                                <th><%-stocks.dailyTrades%></th>
                            </tr>
                        </tbody>
                    <%}%>
                <%}%>
                <% if (l==1 && typeof stockHistory !== 'undefined'){%>
                    <% for(var j=0; j<stockHistory.length; j++) {%>
                        <tbody id = "parent">
                            <tr id="0" data-href="./userMyTrades" >
                                <th><%-stockHistory[j]%></th>
                            </tr>
                        </tbody>
                    <%}%>
                <%}%>
                <% if (l<1){%>
                    <thead>
                        <tr>
                            <th colspan="6">This is the history of the chosen stock</th>
                        </tr>
                    </thead>
                    <% for(var i=0; i<thisStockHistory.length; i++) {%>
                        <tbody id = "parent">
                            <tr id="0" data-href="./userMyTrades" >
                                <th><%-thisStockHistory[i]%></th>
                            </tr>
                        </tbody>
                    <%}%>
                <%}%>
            </table>
        </div>

    </body>
</html>